asgiref==3.11.1
charset-normalizer==3.4.7
cssselect2==0.9.0
Django==6.0.6
django-cors-headers==4.9.0
django-filer==3.4.4
django-filter==25.2
django-polymorphic==4.11.5
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
easy-thumbnails==2.10.1
lxml==6.1.1
pillow==12.2.0
psycopg2==2.9.12
PyJWT==2.13.0
python-decouple==3.8
python-dotenv==1.2.2
reportlab==4.5.1
sqlparse==0.5.5
stripe==15.6.0
svglib==1.5.1
tinycss2==1.5.1
typing_extensions==4.15.0
webencodings==0.5.1
